redirects: on
source https://api.nuget.org/v3/index.json
source https://nuget.org/api/v2/
source https://www.nuget.org/api/v2/

nuget FsUnit.xUnit 
nuget FsUnit 3.0.0
nuget Newtonsoft.Json
nuget FSharp.Core
nuget FAKE
nuget System.ComponentModel.TypeConverter